reCamera_ai_voice_interaction_full_node_red/voice_interaction.json
[
    {
        "id": "d39afb3014b40918",
        "type": "tab",
        "label": "flow1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4edfe2d22b78af8",
        "type": "sscma",
        "host": "localhost",
        "mqttport": "1883",
        "apiport": "80",
        "clientid": "recamera",
        "username": "",
        "password": ""
    },
    {
        "id": "9ab1ee429e233a80",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "234998f63c55af55",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "va_ui_page",
        "type": "ui-page",
        "name": "Voice Assistant",
        "ui": "9ab1ee429e233a80",
        "path": "/voice-assistant",
        "icon": "mic",
        "layout": "grid",
        "theme": "234998f63c55af55",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 6,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "va_ui_grp_video",
        "type": "ui-group",
        "name": "Video Preview",
        "page": "va_ui_page",
        "width": "8",
        "height": "10",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "va_ui_grp_log",
        "type": "ui-group",
        "name": "Conversation Log",
        "page": "va_ui_page",
        "width": "4",
        "height": "10",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f6be1be6c3db8486",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "Action determination",
        "func": "let data = msg.payload.data || msg.payload;\nif (!data || !data.keypoints || !data.keypoints[0] || !data.keypoints[0][1]) return null;\n\nconst kpts = data.keypoints[0][1];\n\n// YOLOv11 pose keypoint index definitions\nconst LEFT_SHOULDER = 5;\nconst RIGHT_SHOULDER = 6;\nconst LEFT_WRIST = 9;\nconst RIGHT_WRIST = 10;\n\n// Helper function to extract keypoints\nfunction getPt(i) {\n    const p = kpts[i];\n    if (!p || p[0] <= 1) return null;\n    return { x: p[0], y: p[1], conf: p[2] || 0 };\n}\n\nconst ls = getPt(LEFT_SHOULDER);\nconst rs = getPt(RIGHT_SHOULDER);\nconst lw = getPt(LEFT_WRIST);\nconst rw = getPt(RIGHT_WRIST);\n\n// Check if keypoints exist and confidence > 0.4 to avoid false positives\nif (!ls || !rs || !lw || !rw || ls.conf < 0.4 || rs.conf < 0.4 || lw.conf < 0.4 || rw.conf < 0.4) {\n    return null;\n}\n\n// Calculate straight-line distance between shoulders and between wrists\nconst distShoulders = Math.sqrt(Math.pow(ls.x - rs.x, 2) + Math.pow(ls.y - rs.y, 2));\nconst distWrists = Math.sqrt(Math.pow(lw.x - rw.x, 2) + Math.pow(lw.y - rw.y, 2));\n\n// Core logic: if wrist distance is less than shoulder distance, action is triggered\nconst isTriggered = distWrists < distShoulders;\n\n// Get last trigger time, set a 10-second cooldown to avoid repeated triggering during recording and playback\nlet lastTriggerTime = context.get(\"lastTriggerTime\") || 0;\nconst currentTime = Date.now();\n\nif (isTriggered && (currentTime - lastTriggerTime > 10000)) {\n    context.set(\"lastTriggerTime\", currentTime);\n    return { payload: \"Trigger recording!\" };\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 860,
        "wires": [
            [
                "a64680323c2947be"
            ]
        ]
    },
    {
        "id": "a64680323c2947be",
        "type": "exec",
        "z": "d39afb3014b40918",
        "command": "echo \"&zhuxuanjun9\" | sudo -S sh -c 'echo 1 > /sys/class/leds/blue/brightness'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Blue LED on",
        "x": 970,
        "y": 860,
        "wires": [
            [
                "b130c99ccea38258"
            ],
            [],
            []
        ]
    },
    {
        "id": "b130c99ccea38258",
        "type": "exec",
        "z": "d39afb3014b40918",
        "command": "arecord -D hw:0,0 -r 16000 -f S16_LE -c 1 -d 5 /tmp/test.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Microphone recording (5 seconds)",
        "x": 1220,
        "y": 860,
        "wires": [
            [
                "a2d99dc7f3f3f6e2",
                "c0b13fd264fb130f"
            ],
            [],
            []
        ]
    },
    {
        "id": "a2d99dc7f3f3f6e2",
        "type": "exec",
        "z": "d39afb3014b40918",
        "command": "echo \"&zhuxuanjun9\" | sudo -S sh -c 'echo 0 > /sys/class/leds/blue/brightness'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Blue LED off",
        "x": 1440,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c0b13fd264fb130f",
        "type": "file in",
        "z": "d39afb3014b40918",
        "name": "Read audio",
        "filename": "/tmp/test.wav",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1470,
        "y": 900,
        "wires": [
            [
                "d755f8cf9aebcf3f"
            ]
        ]
    },
    {
        "id": "2eb558ee13d981bc",
        "type": "camera",
        "z": "d39afb3014b40918",
        "name": "AI Camera",
        "client": "d4edfe2d22b78af8",
        "audio": false,
        "volume": 80,
        "option": 0,
        "fps": 30,
        "mirror": false,
        "flip": false,
        "x": 210,
        "y": 860,
        "wires": [
            [
                "17a420f86ded126e"
            ]
        ]
    },
    {
        "id": "17a420f86ded126e",
        "type": "model",
        "z": "d39afb3014b40918",
        "name": "YOLO11n Pose",
        "uri": "/usr/share/supervisor/models/yolo11n_pose_cv181x_int8.cvimodel",
        "model": "YOLO11n Pose",
        "tscore": "0.89",
        "tiou": "0.64",
        "debug": false,
        "trace": false,
        "counting": false,
        "draw": false,
        "classes": "person",
        "splitter": "0,0,0,0",
        "previewResolution": "640x640",
        "previewFps": 30,
        "client": "d4edfe2d22b78af8",
        "x": 440,
        "y": 860,
        "wires": [
            [
                "f6be1be6c3db8486"
            ]
        ]
    },
    {
        "id": "d755f8cf9aebcf3f",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "Strip WAV header to get PCM",
        "func": "let buf = msg.payload;\nif (buf && buf.length > 44 && buf.slice(0, 4).toString() === 'RIFF') {\n    msg.payload = buf.slice(44);\n} else {\n    msg.payload = buf;\n}\nnode.status({ fill: 'blue', shape: 'dot', text: 'PCM ' + msg.payload.length + 'B' });\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "637c08db612a57f1"
            ]
        ]
    },
    {
        "id": "637c08db612a57f1",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "iFlytek STT (WebSocket)",
        "func": "// ===== iFlytek STT: PCM → text =====\n\nconst APPID = \"da94379a\";\nconst APISecret = \"NGRlZDk2MDY0ODA1NTViNGVhNTY2YmFm\";\nconst APIKey = \"e23e27197669ca24bcc1f76574007dbe\";\n\nfunction getAuthUrl(host, path) {\n    const date = new Date().toUTCString();\n    const signatureOrigin = \"host: \" + host + \"\\ndate: \" + date + \"\\nGET \" + path + \" HTTP/1.1\";\n    const signature = crypto.createHmac('sha256', APISecret).update(signatureOrigin).digest('base64');\n    const authOrigin = \"api_key=\\\"\" + APIKey + \"\\\", algorithm=\\\"hmac-sha256\\\", headers=\\\"host date request-line\\\", signature=\\\"\" + signature + \"\\\"\";\n    const auth = Buffer.from(authOrigin).toString('base64');\n    return \"wss://\" + host + path + \"?authorization=\" + encodeURIComponent(auth) + \"&date=\" + encodeURIComponent(date) + \"&host=\" + encodeURIComponent(host);\n}\n\nconst audioData = msg.payload;\nconst url = getAuthUrl('iat-api.xfyun.cn', '/v2/iat');\nconst socket = new ws(url);\nlet resultText = [];\nlet timeout = setTimeout(function() { try { socket.close(); } catch(e) {} node.error('STT timeout'); }, 15000);\n\nsocket.on('open', function() {\n    const chunkSize = 8000;\n    let offset = 0;\n    function sendChunk() {\n        if (offset >= audioData.length) return;\n        let end = offset + chunkSize;\n        let chunk = audioData.slice(offset, end);\n        let status;\n        if (offset === 0) status = 0;\n        else status = 1;\n        if (end >= audioData.length) status = 2;\n        const frame = {\n            common: { app_id: APPID },\n            business: { domain: \"iat\", language: \"zh_cn\", accent: \"mandarin\", vinfo: 1, vad_eos: 10000 },\n            data: { status: status, format: \"audio/L16;rate=16000\", audio: chunk.toString('base64'), encoding: \"raw\" }\n        };\n        socket.send(JSON.stringify(frame));\n        offset = end;\n        if (status !== 2) setTimeout(sendChunk, 40);\n    }\n    sendChunk();\n});\n\nsocket.on('message', function(data) {\n    const m = JSON.parse(data);\n    if (m.code !== 0) { node.error(\"STT Error: \" + m.code + \" - \" + (m.message || 'unknown')); socket.close(); return; }\n    const wsData = m.data.result.ws;\n    for (const item of wsData) { for (const w of item.cw) { resultText.push(w.w); } }\n    if (m.data.status === 2) { socket.close(); }\n});\n\nsocket.on('close', function() {\n    clearTimeout(timeout);\n    const text = resultText.join('');\n    node.status({ fill: 'green', shape: 'dot', text: \"Recognized: \" + (text || '(empty)').substring(0, 20) });\n    node.send({ payload: text });\n});\n\nsocket.on('error', function(e) { clearTimeout(timeout); node.error(\"STT WS Error: \" + e.message); });\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ws",
                "module": "ws"
            },
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "84b52b3230f77033",
                "3cce599fbf2d74b3",
                "58d34134afebc1b5"
            ]
        ]
    },
    {
        "id": "84b52b3230f77033",
        "type": "debug",
        "z": "d39afb3014b40918",
        "name": "Print recognized text",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1420,
        "wires": []
    },
    {
        "id": "3cce599fbf2d74b3",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "iFlytek LLM (WebSocket)",
        "func": "// ===== iFlytek LLM Spark Lite: text → reply =====\n\nconst APPID = \"da94379a\";\nconst APISecret = \"NGRlZDk2MDY0ODA1NTViNGVhNTY2YmFm\";\nconst APIKey = \"e23e27197669ca24bcc1f76574007dbe\";\n\nfunction getAuthUrl(host, path) {\n    const date = new Date().toUTCString();\n    const signatureOrigin = \"host: \" + host + \"\\ndate: \" + date + \"\\nGET \" + path + \" HTTP/1.1\";\n    const signature = crypto.createHmac('sha256', APISecret).update(signatureOrigin).digest('base64');\n    const authOrigin = \"api_key=\\\"\" + APIKey + \"\\\", algorithm=\\\"hmac-sha256\\\", headers=\\\"host date request-line\\\", signature=\\\"\" + signature + \"\\\"\";\n    const auth = Buffer.from(authOrigin).toString('base64');\n    return \"wss://\" + host + path + \"?authorization=\" + encodeURIComponent(auth) + \"&date=\" + encodeURIComponent(date) + \"&host=\" + encodeURIComponent(host);\n}\n\nlet userText = msg.payload;\nif (!userText || String(userText).trim().length === 0) { userText = \"Sorry, I didn't catch that. Please say it again.\"; }\n\nconst url = getAuthUrl('spark-api.xf-yun.com', '/v1.1/chat');\nconst socket = new ws(url);\nlet resultText = [];\nlet timeout = setTimeout(function() { try { socket.close(); } catch(e) {} node.error('LLM timeout'); }, 20000);\n\nsocket.on('open', function() {\n    socket.send(JSON.stringify({\n        header: { app_id: APPID, uid: \"recamera_nodered\" },\n        parameter: { chat: { domain: \"lite\", temperature: 0.5, max_tokens: 1024 } },\n        payload: { message: { text: [\n            { role: \"system\", content: \"You are a voice assistant deployed on the smart camera reCamera. Please answer user questions in short, conversational, friendly language. Each response should be no more than 50 Chinese characters.\" },\n            { role: \"user\", content: userText }\n        ] } }\n    }));\n});\n\nsocket.on('message', function(data) {\n    const m = JSON.parse(data);\n    if (m.header.code !== 0) { node.error(\"LLM Error: \" + m.header.code + \" - \" + m.header.message); socket.close(); return; }\n    resultText.push(m.payload.choices.text[0].content);\n    if (m.payload.choices.status === 2) { socket.close(); }\n});\n\nsocket.on('close', function() {\n    clearTimeout(timeout);\n    let text = resultText.join('');\n    if (!text) text = \"The brain is offline temporarily. Please try again later.\";\n    node.status({ fill: 'green', shape: 'dot', text: \"Reply: \" + text.substring(0, 20) });\n    node.send({ payload: text });\n});\n\nsocket.on('error', function(e) { clearTimeout(timeout); node.error(\"LLM WS Error: \" + e.message); });\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "ws",
                "module": "ws"
            },
            {
                "var": "crypto",
                "module": "crypto"
            }
        ],
        "x": 770,
        "y": 1320,
        "wires": [
            [
                "3aafd5ef87a96eb4",
                "fa5e90f03b3e2804"
            ]
        ]
    },
    {
        "id": "3aafd5ef87a96eb4",
        "type": "debug",
        "z": "d39afb3014b40918",
        "name": "Print LLM reply",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1420,
        "wires": []
    },
    {
        "id": "fa5e90f03b3e2804",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "TTS (execSync child process)",
        "func": "// ===== TTS v4: execSync launches independent Node process =====\n// No process global in sandbox\n// Parse logic fixed based on actual test_tts.py data\n\nconst APPID = \"da94379a\";\nconst APISecret = \"NGRlZDk2MDY0ODA1NTViNGVhNTY2YmFm\";\nconst APIKey = \"e23e27197669ca24bcc1f76574007dbe\";\nconst OUT_FILE = \"/tmp/reply.wav\";\nconst SCRIPT_PATH = \"/tmp/_tts_runner.js\";\n\nconst host = \"cbm01.cn-huabei-1.xf-yun.com\";\nconst apiPath = \"/v1/private/mcd9m97e6\";\nconst date = new Date().toUTCString();\nconst sigOrigin = \"host: \" + host + \"\\ndate: \" + date + \"\\nGET \" + apiPath + \" HTTP/1.1\";\nconst sig = crypto.createHmac('sha256', APISecret).update(sigOrigin).digest('base64');\nconst authO = \"api_key=\\\"\" + APIKey + \"\\\", algorithm=\\\"hmac-sha256\\\", headers=\\\"host date request-line\\\", signature=\\\"\" + sig + \"\\\"\";\nconst authB64 = Buffer.from(authO).toString('base64');\nconst ttsUrl = \"wss://\" + host + apiPath + \"?authorization=\" + encodeURIComponent(authB64) + \"&date=\" + encodeURIComponent(date) + \"&host=\" + encodeURIComponent(host);\n\nconst text = msg.payload || \"\";\nif (!String(text).trim()) { node.error('TTS input is empty'); return; }\nnode.warn('Requesting TTS synthesis: ' + text);\n\n// Build independent script v4\nconst script = [\n    \"const fs = require('fs');\",\n    \"try {\",\n    \"  let WebSocket = null;\",\n    \"  const wsPaths = ['ws', '/usr/lib/node_modules/ws', '/usr/local/lib/node_modules/ws',\",\n    \"    (process.env.HOME || '/root') + '/.node-red/node_modules/ws',\",\n    \"    '/usr/lib/node-red/node_modules/ws', '/opt/node_modules/ws'];\",\n    \"  for (const p of wsPaths) { try { WebSocket = require(p); break; } catch(e) {} }\",\n    \"  if (!WebSocket) { fs.writeFileSync('/tmp/_tts_err', 'Cannot find ws module'); process.exit(1); }\",\n    \"  const url = \" + JSON.stringify(ttsUrl) + \";\",\n    \"  const text = \" + JSON.stringify(text) + \";\",\n    \"  const appid = \" + JSON.stringify(APPID) + \";\",\n    \"  const outFile = \" + JSON.stringify(OUT_FILE) + \";\",\n    \"  const chunks = [];\",\n    \"  const sock = new WebSocket(url);\",\n    \"  const timer = setTimeout(function() { try{sock.close();}catch(e){} fs.writeFileSync('/tmp/_tts_err','timeout after 20s'); process.exit(1); }, 20000);\",\n    \"  sock.on('open', function() {\",\n    \"    sock.send(JSON.stringify({\",\n    \"      header: { app_id: appid, status: 2 },\",\n    \"      parameter: { tts: { vcn: 'x5_EnUs_Lila_flow', speed: 50, volume: 50, pitch: 50, audio: { encoding: 'raw', sample_rate: 16000 } } },\",\n    \"      payload: { text: { encoding: 'utf8', status: 2, text: Buffer.from(text).toString('base64') } }\",\n    \"    }));\",\n    \"  });\",\n    \"  sock.on('message', function(d) {\",\n    \"    const m = JSON.parse(d);\",\n    \"    const code = m.header ? m.header.code : -1;\",\n    \"    const status = m.header ? m.header.status : -1;\",\n    \"    if (code !== 0) {\",\n    \"      clearTimeout(timer);\",\n    \"      fs.writeFileSync('/tmp/_tts_err', 'code=' + code + ' ' + (m.header.message || ''));\",\n    \"      process.exit(1);\",\n    \"    }\",\n    \"    // Only middle frames with status=1 have actual audio data\",\n    \"    if (status === 1 && m.payload && m.payload.audio && m.payload.audio.audio) {\",\n    \"      chunks.push(Buffer.from(m.payload.audio.audio, 'base64'));\",\n    \"    }\",\n    \"    if (status === 2) {\",\n    \"      clearTimeout(timer);\",\n    \"      if (chunks.length === 0) {\",\n    \"        fs.writeFileSync('/tmp/_tts_err', 'finished but no audio chunks received');\",\n    \"        process.exit(1);\",\n    \"      }\",\n    \"      const pcm = Buffer.concat(chunks);\",\n    \"      const hdr = Buffer.alloc(44);\",\n    \"      hdr.write('RIFF',0); hdr.writeUInt32LE(36+pcm.length,4); hdr.write('WAVE',8); hdr.write('fmt ',12);\",\n    \"      hdr.writeUInt32LE(16,16); hdr.writeUInt16LE(1,20); hdr.writeUInt16LE(1,22);\",\n    \"      hdr.writeUInt32LE(16000,24); hdr.writeUInt32LE(32000,28);\",\n    \"      hdr.writeUInt16LE(2,32); hdr.writeUInt16LE(16,34);\",\n    \"      hdr.write('data',36); hdr.writeUInt32LE(pcm.length,40);\",\n    \"      fs.writeFileSync(outFile, Buffer.concat([hdr, pcm]));\",\n    \"      sock.close();\",\n    \"    }\",\n    \"  });\",\n    \"  sock.on('error', function(e) { clearTimeout(timer); fs.writeFileSync('/tmp/_tts_err', 'ws-error: ' + e.message); process.exit(1); });\",\n    \"} catch(e) { fs.writeFileSync('/tmp/_tts_err', 'top-err: ' + e.message); process.exit(1); }\"\n].join(\"\\n\");\n\nfs.writeFileSync(SCRIPT_PATH, script);\nnode.warn('Launching independent Node process...');\n\ntry {\n    const cmd = \"NODE_PATH=$HOME/.node-red/node_modules:/usr/lib/node_modules:/usr/local/lib/node_modules:/usr/lib/node-red/node_modules node \" + SCRIPT_PATH;\n    cp.execSync(cmd, { timeout: 25000, stdio: 'pipe' });\n    let errMsg = '';\n    try { errMsg = fs.readFileSync('/tmp/_tts_err', 'utf8'); } catch(e) {}\n    if (errMsg) {\n        node.status({ fill: 'red', shape: 'ring', text: 'TTS failed' });\n        node.send({ payload: { ok: false, error: errMsg, text: text } });\n        return;\n    }\n    const stat = fs.statSync(OUT_FILE);\n    node.status({ fill: 'green', shape: 'dot', text: 'TTS success ' + stat.size + 'B' });\n    node.warn('WAV saved: ' + OUT_FILE + ' (' + stat.size + ' bytes)');\n    node.send({ payload: { ok: true, text: text, size: stat.size, file: OUT_FILE } });\n} catch(e) {\n    let errMsg = e.message;\n    try { errMsg = fs.readFileSync('/tmp/_tts_err', 'utf8'); } catch(e2) {}\n    node.status({ fill: 'red', shape: 'ring', text: 'Execution failed' });\n    node.error('TTS exec failed: ' + errMsg);\n    node.send({ payload: { ok: false, error: errMsg, text: text } });\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "crypto",
                "module": "crypto"
            },
            {
                "var": "fs",
                "module": "fs"
            },
            {
                "var": "cp",
                "module": "child_process"
            }
        ],
        "x": 1020,
        "y": 1320,
        "wires": [
            [
                "555543fe03383d93",
                "5b8b32b59bc6d87e",
                "70c0c4871eb1173f"
            ]
        ]
    },
    {
        "id": "555543fe03383d93",
        "type": "debug",
        "z": "d39afb3014b40918",
        "name": "Print TTS result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 1420,
        "wires": []
    },
    {
        "id": "5b8b32b59bc6d87e",
        "type": "switch",
        "z": "d39afb3014b40918",
        "name": "Success?",
        "property": "payload.ok",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1270,
        "y": 1320,
        "wires": [
            [
                "3203f0943ad016d4"
            ]
        ]
    },
    {
        "id": "3203f0943ad016d4",
        "type": "exec",
        "z": "d39afb3014b40918",
        "command": "aplay -D hw:1,0 -f S16_LE -c 1 -r 16000 /tmp/reply.wav",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Speaker playback",
        "x": 1500,
        "y": 1320,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ea6753d63dbee8e8",
        "type": "ui-template",
        "z": "d39afb3014b40918",
        "group": "va_ui_grp_video",
        "page": "",
        "ui": "",
        "name": "Video Preview",
        "order": 1,
        "width": "0",
        "height": "10",
        "head": "",
        "format": "<template>\n  <div class=\"va-video-wrap\">\n    <svg ref=\"svg\" class=\"va-video-svg\"></svg>\n    <span class=\"va-video-status\" :style=\"{color: connected ? '#4CAF50' : '#F44336'}\">{{ connected ? '\\u25CF Live' : '\\u25CF Offline' }}</span>\n  </div>\n</template>\n<script>\nexport default {\n  data() {\n    return { ws: null, connected: false, timer: null, dead: false, w: 640, h: 480 };\n  },\n  methods: {\n    connect() {\n      if (this.timer) clearTimeout(this.timer);\n      if (this.dead) return;\n      this.ws = new WebSocket('ws://' + window.location.hostname + ':8090');\n      this.ws.binaryType = 'arraybuffer';\n      this.ws.onopen = () => { this.connected = true; };\n      this.ws.onmessage = (e) => {\n        try { this.draw(JSON.parse(new TextDecoder().decode(new Uint8Array(e.data)))); } catch(err) {}\n      };\n      this.ws.onclose = () => {\n        this.connected = false;\n        if (!this.dead) this.timer = setTimeout(() => this.connect(), 3000);\n      };\n      this.ws.onerror = () => { this.connected = false; };\n    },\n    el(t) { return document.createElementNS('http://www.w3.org/2000/svg', t); },\n    set(e, a) { for (var k in a) e.setAttribute(k, a[k]); return e; },\n    draw(obj) {\n      var svg = this.$refs.svg;\n      if (!svg) return;\n      var d = obj.data || obj;\n      if (d.resolution) {\n        this.w = d.resolution[0]; this.h = d.resolution[1];\n        svg.setAttribute('viewBox', '0 0 ' + this.w + ' ' + this.h);\n      }\n      var g = document.getElementById('va-g');\n      if (!g) { g = this.el('g'); g.id = 'va-g'; svg.appendChild(g); }\n      g.innerHTML = '';\n      // Draw image\n      if (d.image) {\n        var img = document.getElementById('va-img');\n        if (!img) { img = this.el('image'); img.id = 'va-img'; g.appendChild(img); }\n        this.set(img, {href: 'data:image/jpeg;base64,' + d.image, x: 0, y: 0, width: this.w, height: this.h});\n      }\n      // Draw boxes\n      if (d.boxes) {\n        d.boxes.forEach((b) => {\n          if (b.length === 6) {\n            g.appendChild(this.set(this.el('rect'), {\n              x: b[0]-b[2]/2, y: b[1]-b[3]/2, width: b[2], height: b[3],\n              fill: 'none', stroke: '#00FF00', 'stroke-width': 2\n            }));\n          }\n        });\n      }\n      // Draw keypoints (pose)\n      if (d.keypoints) {\n        d.keypoints.forEach((kp) => {\n          var box = kp[0], pts = kp[1];\n          if (box && box.length === 6) {\n            g.appendChild(this.set(this.el('rect'), {\n              x: box[0]-box[2]/2, y: box[1]-box[3]/2, width: box[2], height: box[3],\n              fill: 'none', stroke: '#FF0000', 'stroke-width': 2\n            }));\n          }\n          if (pts) {\n            // Skeleton connections (COCO 17-keypoint format)\n            var sk = [[5,7],[7,9],[6,8],[8,10],[5,11],[6,12],[11,13],[13,15],[12,14],[14,16],[5,6],[11,12]];\n            sk.forEach((s) => {\n              var a = pts[s[0]], b = pts[s[1]];\n              if (a && b && a[0] > 1 && b[0] > 1) {\n                g.appendChild(this.set(this.el('line'), {\n                  x1: a[0], y1: a[1], x2: b[0], y2: b[1],\n                  stroke: '#00FF00', 'stroke-width': 2\n                }));\n              }\n            });\n            // Draw joint points\n            pts.forEach((p) => {\n              if (p && p[0] > 1) {\n                g.appendChild(this.set(this.el('circle'), {\n                  cx: p[0], cy: p[1], r: 3, fill: '#FF4444'\n                }));\n              }\n            });\n          }\n        });\n      }\n    }\n  },\n  mounted() { this.dead = false; this.connect(); },\n  unmounted() {\n    this.dead = true;\n    if (this.timer) clearTimeout(this.timer);\n    if (this.ws) { this.ws.close(); this.ws = null; }\n  }\n};\n</script>\n<style>\n.va-video-wrap { position: relative; width: 100%; height: 100%; min-height: 300px; }\n.va-video-svg { width: 100%; height: 100%; background: #000; border-radius: 4px; }\n.va-video-status {\n  position: absolute; top: 8px; right: 8px;\n  background: rgba(0,0,0,0.5); padding: 2px 8px;\n  border-radius: 4px; font-size: 12px; color: #fff;\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 220,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2b128512880c95ab",
        "type": "ui-template",
        "z": "d39afb3014b40918",
        "group": "va_ui_grp_log",
        "page": "",
        "ui": "",
        "name": "Conversation Log",
        "order": 1,
        "width": "0",
        "height": "10",
        "head": "",
        "format": "<template>\n  <div class=\"va-log-wrap\">\n    <div v-for=\"(entry, i) in entries\" :key=\"i\" :class=\"['va-log-entry', entry.type]\">\n      <div class=\"va-log-header\">\n        <span class=\"va-log-sender\">{{ entry.type === 'user' ? '\\uD83D\\uDC64 user said:' : '\\uD83E\\uDD16 reCamera said:' }}</span>\n        <span class=\"va-log-time\">{{ entry.time }}</span>\n      </div>\n      <div class=\"va-log-text\">{{ entry.text }}</div>\n    </div>\n    <div v-if=\"entries.length === 0\" class=\"va-log-empty\">Waiting for conversation...</div>\n  </div>\n</template>\n<script>\nexport default {\n  data() {\n    return { entries: [], max: 50 };\n  },\n  watch: {\n    msg: function(msg) {\n      if (!msg || !msg.payload) return;\n      var text = '', type = 'user';\n      if (typeof msg.payload === 'object' && msg.payload.text !== undefined) {\n        text = msg.payload.text;\n        type = msg.payload.type || 'user';\n      } else {\n        text = String(msg.payload);\n        type = msg.topic || 'user';\n      }\n      this.entries.push({\n        text: text,\n        type: type,\n        time: new Date().toLocaleTimeString()\n      });\n      if (this.entries.length > this.max) this.entries.shift();\n      this.$nextTick(() => {\n        var el = this.$el.querySelector('.va-log-wrap');\n        if (el) el.scrollTop = el.scrollHeight;\n      });\n    }\n  }\n};\n</script>\n<style>\n.va-log-wrap {\n  height: 100%;\n  overflow-y: auto; padding: 8px;\n}\n.va-log-entry {\n  padding: 8px 12px; margin-bottom: 6px;\n  border-radius: 8px; border-left: 3px solid #ccc;\n}\n.va-log-entry.user { background: #e3f2fd; border-left-color: #2196f3; }\n.va-log-entry.recamera { background: #e8f5e9; border-left-color: #4caf50; }\n.va-log-header { display: flex; justify-content: space-between; align-items: center; }\n.va-log-sender { font-weight: bold; font-size: 12px; color: #555; }\n.va-log-time { font-size: 11px; color: #999; }\n.va-log-text { font-size: 14px; color: #333; margin-top: 2px; word-break: break-word; }\n.va-log-empty { color: #999; text-align: center; padding: 30px; }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1110,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "58d34134afebc1b5",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "Format STT Log",
        "func": "let text = msg.payload || '';\nmsg.payload = { text: String(text), type: 'user' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1220,
        "wires": [
            [
                "2b128512880c95ab"
            ]
        ]
    },
    {
        "id": "70c0c4871eb1173f",
        "type": "function",
        "z": "d39afb3014b40918",
        "name": "Format TTS Log",
        "func": "let text = '';\nif (msg.payload && msg.payload.text) {\n    text = msg.payload.text;\n}\nmsg.payload = { text: String(text), type: 'recamera' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1220,
        "wires": [
            [
                "2b128512880c95ab"
            ]
        ]
    },
    {
        "id": "bb16a0b891f7d9d5",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-sscma": "0.3.6",
            "@flowfuse/node-red-dashboard": "1.26.0"
        }
    }
]